*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px;
    max-width: 1500px;
}

/* ------------Header section-------------------- */



nav {
    background-color: #bbbbbb73;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}



/* ------------top-section-style-------------- */
.top-section {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0 100%), url('images/img4.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.top-section h2 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

.top-section p {
    font-size: 2.0em;
    margin-bottom: 2em;
}

.cta-button {
    background-color: #ccc2c2;
    color: #333;
    padding: 0.8em 2em;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #333;
    color: #fff;
}

/* ----------------main body section------------------ */
.main-body {
    margin-top: 40px;
}
.main-body .box {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}
.main-body .box .img img{
    width: 530px;
    height: 315px;
}
.main-body .box .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.main-body .box .text h3 {
    font-size: 25px;
    margin-bottom: 15px;
}
.main-body .box .text p{
    margin-bottom: 15px;
}


/* ---------customer-review section--------------- */

.review-head{
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}
.customer-review{
    margin-top: 50px;
    display: flex;
}
.customer-review .person{
    display: flex;
    align-items: center;
    padding: 15px;
}
.customer-review .person h3{
    margin-left: 30px;
}
.customer-review p{
    text-align: justify;
}
.customer-review .person .logo img{
    width: 65px;
    height: 63px;
    border-radius: 50%;
}
.rev-1{
    margin: 10px;
    background-color:#dbd8d8;
    padding: 10px;
    border-radius: 10px;
}
.checked{
    color: rgb(181, 155, 6);
}

/* ------------map-section----------- */

.map-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.map-section iframe{
    margin-top: 40px;
    margin-bottom: 40px;
}





/* -----------------Footer-section--------------------- */
footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
}

.footer-logo {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.footer-logo a {
    color: white;
    text-decoration: none;
    transition-duration: 1s;
    font-weight: bold;
}

.footer-logo a:hover {
    color: rgb(223, 5, 247);
    transition-duration: 1s;
}

.footer1 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.footer1 .description {
    color: white;
    font-size: 23px;
}

.social-media-handle {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
}

.social-media-handle a {
    color: white;
    margin: 10px;
    font-size: 35px;
}

.footer2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.heading {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.heading:hover {
    background-color: #44046f;
    border-radius: 5px;
}

.footer-item {
    padding: 6px;
}

.copy-right {
    display: flex;
    justify-content: center;
    margin: 50px;
}






